body{
    background-image:url(bg.jpg);
    background-size: cover;
    background-attachment: fixed;

}
.create_account{
    background-image: url(form.jpg);
    background-size: cover;
    background-attachment: fixed;
    margin: 0 auto;
    width: 750px;
    

}
